<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>

<body class="grid-container">
    <header class="header">
        <img src="../assests/chatify_logo_sm.png" alt="">
        <a href="../templates/login.html">Log In</a>
    </header>
    <article class="main">
            <img id="logo" src="../assests/chatify_logo_lg.png" alt="">
            <div>
                <h1>Welcome to our App</h1>
                <h3>Log in if you already have an account</h3>
            </div>
    </article>
    <footer class="footer">
        <h1>Footer</h1>
    </footer>
</body>

</html>