<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body class="grid-container">
    <header class="header">
      <a href="../templates/index.html" id="home"></a>
      <a href="#" id="login-a">Log In</a>
    </header>
    <article class="main">
      <img id="logo" src="../assests/chatify_logo_lg.png" alt="">
      <div id="form-content">
        <h4>Please login</h4>
        <form action="POST">
          <p><input class="input-text" type="text" id="username" placeholder="username" required></p>
          <p><input class="input-text" type="text" id="password" placeholder="password" required></p>
          <p><input type="submit" name="login" id="login-btn" value="Log In"></p>
        </form>
        <p><span style="color: aliceblue;">Need an account? </span><span><a href="#" style="color: #00BF63;" >Sign In</a></span></p>
      </div>
    </article>
    <footer class="footer">
      <h1>Footer</h1>
    </footer>
</body>

</html>