<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body class="grid-container">
    <header class="header">
      <a href="../templates/index.html" id="home"></a>
      <a href="#" id="login-a">Log In</a>
    </header>
    <article class="main">
      <img id="logo" src="../assests/chatify_logo_lg.png" alt="">
      <div id="form-content">
        <h4>Please login</h4>
        <form action="POST" id="login-form" name="login">
          <p><input class="input-text" type="text" id="username-log" placeholder="username" required></p>
          <p><input class="input-text" type="text" id="password-log" placeholder="password" required></p>
          <p><input type="submit" form="login-form" name="login" id="login-btn" value="Log In"></p>
        </form>
        <p>
            <span style="color: aliceblue;">Need an account? </span>
            <span><button id="signin-btn" onclick=open_modal()>Sign Up</a></span>
        </p>
      </div>
    </article>
    <footer class="footer">
      <h1>Footer</h1>
    </footer>
    <div class="modal">
      <span class="close-btn">
        <button id="close-btn" onclick=close_modal() title="Close"></button>
      </span>
      <div id="form-container">
        <span class="form-content">
          <h4>Please Sign Up</h4>
          <form method="POST" id="signup-form" name="signup">
            <p><input class="input-text" type="text" id="username-sign" placeholder="username" required></p>
            <p><input class="input-text" type="text" id="email" placeholder="email" required></p>
            <p><input class="input-text" type="text" id="password-sign" placeholder="password" required></p>
            <span>
              <p><input type="submit" form="signup-form" name="signup" id="confirm-btn" value="Confirm"></p>
              <p><input type="reset" form="signup-form" name="signup" id="cancel-btn" value="Cancel"></p>
            </span>
            
          </form>
        </span>
      </div>
    </div>
    <script src="../scripts/login.js"></script>
</body>

</html>