<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/profile.css">
</head>

<body class="grid-container">
    <header class="header">
        <button type="button" class="menu-btn" onclick="animate_menu()"></button>
        <img src="../assests/chatify_logo_sm.png" alt="">
        <a href="../templates/profile.html">Account</a>
    </header>
    <nav class="navbar">
        <div class="expandable" id="menu">
            <ul>
                <li><a href="" title="Explore"><img src="../assests/server-explore-icon-white.png" alt="">Explore</a>
                </li>
                <!-- SHOULD ALLOW TO FIND ALL SERVERS IN DATABASE -->
                <li><a href="" title="Servers"><img src="../assests/server-icon-white.png" alt="">Servers</a></li>
                <!-- SHOULD SHOWS ALL SERVERS OF THE LOGIN USER
                     ONCE A SERVER IS SELECTED IT SHOULD SHOW ALL ITS CHANNELS -->
                <li><a href="" title="Direc Messages"><img src="../assests/message-white.png" alt="">Direct Messages</a>
                </li>
                <!-- SHOULD SHOW THE CHAT OF THE CHANNEL SELECTED-->
            </ul>
            <a href="../templates/profile.html" title="Account"><img src="../assests/user-white.png" alt="">Account</a>
        </div>
    </nav>
    <article class="main">
        <div id="profile-bg">
            <span>
                <a href="#" id="profile-photo"></a>
            </span>
            <button id="edit-btn">Edit photo</button>
            <div id="info-content">
                <form action="PUT">
                    <div id="fields">
                        <ul id="tag">
                            <li>
                                <strong>Username:</strong>
                            </li>
                            <li>
                                <strong>Email:</strong>
                            </li>
                            <li>
                                <strong>First Name:</strong>
                            </li>
                            <li>
                                <strong>Last Name:</strong>
                            </li>
                        </ul>
                        <ul id="value">
                            <li><span class="username"></span></li>
                            <li><span class="email"></span></li>
                            <li><span class="first-name"></span></li>
                            <li><span class="last-name"></span></li>
                        </ul>
                        <ul id="edit">
                            <li><a type="button" class="username edit" title="Edit"></a></li>
                            <li><a type="button" class="email edit" title="Edit"></a></li>
                            <li><a type="button" class="first-name edit" title="Edit"></a></li>
                            <li><a type="button" class="last-name edit" title="Edit"></a></li>
                        </ul>
                        <a href="#" id="pass" title="Reset password">
                            <img src="../assests/reset-password-white.png" alt="">Reset password</a>
                    </div>
                </form>
            </div>
            <button id="logout-btn"><strong>Logout</strong></button>
            <!-- <button id="edit-btn"><strong>Edit</strong></button> -->
        </div>
    </article>
    <script src="../scripts/profile.js"></script>
</body>

</html>